---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="py-20 px-20 border border-red-500">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
		blanditiis voluptatem, nostrum aut vel ab veritatis quae! Repudiandae
		facilis itaque ea pariatur illum, nesciunt voluptatum corporis atque
		delectus consequuntur vero.
		<br />Set in Fraunces & Inter TightSet in Fraunces & Inter Tight Set in
		Fraunces & Inter TightLorem ipsum dolor sit amet, consectetur
		adipisicing elit. Harum, modi! Fugit cumque amet debitis vel ab
		voluptatibus modi odit assumenda harum dolorem animi laborum culpa
		maxime nihil, magnam, veritatis illo.
	</div>
</Layout>
